[Desktop Entry]
BinaryPattern=
Comment=Has a similar usage to gdb
Comment[en_US]=Has a similar usage to gdb
Encoding=UTF-8
Exec=xsldbg --shell %U
GenericName=Command line XSLT debugging
GenericName[en_US]=Command line XSLT debugging
Icon=xsldbg_source.png
X-DocPath=xsldbg/index.html
MimeType=text/x-xslt
Name=xsldbg
Name[en_US]=xsldbg
ServiceTypes=
SwallowExec=
SwallowTitle=
Terminal=true
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=Development;Debugger;
